<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="https://linkedin.com/in/danielrazabraham"><i class="fab fa-linkedin fa-2x">Linkedin</i></a>
      </div>

      <div class="footer-col footer-col-2">
        <a href="https://github.com/danielabrahamgit"><i class="fab fa-github fa-2x">Github</i></a>
      </div>

      <div class="footer-col footer-col-3">
        <a href="mailto:daniel_abraham1@berkeley.edu"><i class="far fa-envelope fa-2x">Mail</i></a>
      </div>

      <div class="footer-col footer-col-4">
        <a href="/resume.pdf"><i class="far fa-file fa-2x"> Resume</i>
        </i></a>
      </div>
    </div>

  </div>

</footer>